:root {
    --bg-color: #0001ff;
    --bg-color-tables: darkblue;
    --text-color: white;
    --border-color: rgb(0, 0, 80);
    --table-bg-color: #001f4d;
    --table-header-bg: #003366;
    --table-header-text: white;
    --late: red;
}

body {
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

table {
    border: 2px solid var(--border-color);
    width: 100%; 
    border-collapse: collapse;
    background-color: var(--table-bg-color);
    border-radius: 10px;
}
/*data des tableaux*/
th, td {
    border: 2px solid var(--border-color);
    margin: 0;
    padding: 8px;
    text-align: center;
}
/*header des tableaux*/
th {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
}

tr{
    border-radius: 10px;
}

#Tables {
    display: flex;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}

.table {
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    background-color: var(--bg-color-tables);
    padding: 5px;
}

h2, h1 {
    text-align: center;
}

/*case des trains à l'arrivée*/
.late{
    background-color: var(--late);
}